agm-map {
    height: 60vh;
}

.hide-search-input {
    display: none;
}
input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }