<section class="payouts-wrapper">
    <app-page-title [pageTitle]="'Rider Payouts'"></app-page-title>
    <div class="payouts-wrapper__tools w-75">
        <div class="row align-items-end">
            <div class="col-6 input-details">
                <label for="search" class="input-heading">Search</label>
                <input type="text" class="input-field" placeholder="Enter Payout ID" name="search"
                    [(ngModel)]="filterRiderPayoutFields.payoutId" (keyup.enter)="getPayoutsData(true)">
            </div>
            <div class="col-3">
                <button class="buttons buttons--filter w-100"
                    (click)="showFilterFields ? clearFilter('all') : showFilterFields = true">
                    {{showFilterFields ? 'Clear Filters' : 'Add Filters'}}
                    <img src="assets/icons/filter.svg" class="ms-4" alt="add-icon" />
                </button>
            </div>
            <div class="col-3">
                <button class="buttons w-100" (click)="exportRiderPayoutsInCsv()">Export in csv
                </button>
            </div>
        </div>
    </div>
    <div class="row align-items-end mt-4" *ngIf="showFilterFields">
        <div class="col-3 input-details">
            <label for="id" class="input-heading">Rider IDs</label>
            <input type="text" class="input-field" placeholder="Enter comma separated ids" name="search"
                [(ngModel)]="filterRiderPayoutFields.riderIds" (keydown.enter)="getPayoutsData(true)" appMoveCursorAtEnd>
        </div>
        <div class="col-2 input-details">
            <label for="id" class="input-heading">Status</label>
            <ng-select [multiple]="true" [closeOnSelect]="false" [items]="payoutStatusList | keyvalue"
                placeholder="Select Statuses" bindValue="key" bindLabel="value"
                [(ngModel)]="filterRiderPayoutFields.status" (clear)="clearFilter()"></ng-select>
        </div>
        <div class="col-2 input-details">
            <label class="input-heading">Start Date</label>
            <input class="input-field" type="datetime-local" [(ngModel)]="filterRiderPayoutFields.startDate" />
        </div>

        <div class="col-2 input-details">
            <label class="input-heading">End Date</label>
            <input class="input-field" type="datetime-local" [(ngModel)]="filterRiderPayoutFields.endDate" />
        </div>
        <div class="col-4 input-details mt-2">
            <label class="input-heading">Processed On Duration (Start Date - End Date)</label>
            <span class="d-flex align-items-center">
                <input class="input-field" type="datetime-local" [(ngModel)]="filterRiderPayoutFields.processedOnStartDate" />
                <span class="mx-2">-</span>
                <input class="input-field" type="datetime-local" [(ngModel)]="filterRiderPayoutFields.processedOnEndDate" />
            </span>
        </div>
        <div class="col-2">
            <button class="buttons br-50" (click)="getPayoutsData(true)">Apply Filter</button>
        </div>
    </div>
    <main class="payout-wrapper__content mt-5">
        <table class="w-100" mat-table [dataSource]="payoutsList" matSort multiTemplateDataRows>
            <ng-container matColumnDef="payoutId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Payout ID </th>
                <td mat-cell *matCellDef="let row">
                    <span class="cursor-enabled text-decoration-underline">
                        <span class="d-flex gap-3 align-items-center">
                            <strong matTooltip="See Orders" matTooltipClass="custom-tooltip" class="singleline-ellipsis"
                                (click)="navigateToRiderOrdersPage(row.payoutId)">{{row.payoutId}}</strong>
                            <img class="cursor-enabled" src="assets/icons/copy-icon.svg" width="15" height="15" alt=""
                                [appCopyToClipboard]="row.payoutId">
                        </span></span>
                </td>
            </ng-container>
            <ng-container matColumnDef="riderName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rider Details</th>
                <td mat-cell *matCellDef="let row">
                    <b title="See Outlet Info">{{row.riderName}}</b>
                    <p class="m-0">
                        <span class="d-flex gap-3 align-items-center">
                            <strong class=" singleline-ellipsis">{{row.riderId}}</strong>
                            <img class="cursor-enabled" src="assets/icons/copy-icon.svg" width="15" height="15" alt=""
                                [appCopyToClipboard]="row.riderId">
                        </span>
                    </p>
                </td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date </th>
                <td class="cursor-disable" mat-cell *matCellDef="let row"> {{row.startDate | date: dateLongTimeFormat}} </td>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date </th>
                <td class="cursor-disable" mat-cell *matCellDef="let row"> {{row.endDate | date: dateLongTimeFormat}} </td>
            </ng-container>
            <ng-container matColumnDef="amountPaidToVendor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount </th>
                <td class="cursor-disable" mat-cell *matCellDef="let row">{{row.amountPaidToRider}} </td>
            </ng-container>
            <ng-container matColumnDef="payoutCompletedTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Processed On </th>
                <td class="cursor-disable" mat-cell *matCellDef="let row"> {{row.payoutCompletedTime ?
                    (row.payoutCompletedTime | date: dateLongTimeFormat) : 'N/A'}} </td>
            </ng-container>
            <ng-container matColumnDef="payoutStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                <td class="cursor-disable" mat-cell *matCellDef="let row"> {{row.payoutStatus}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th class="cursor-disable" mat-header-cell *matHeaderCellDef>Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="expandedRow = expandedRow === row ? null : row">
                        <mat-icon>{{row === expandedRow ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td *matCellDef="let row" [attr.colspan]="displayedColumns.length">
                    <app-rider-payout-details class="expanded-row-details"
                        [ngClass]="row === expandedRow ? 'expanded' : 'collapsed'" [payoutDetails]="row"
                        (takeAction)="takeAction($event, row)">
                    </app-rider-payout-details>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    There is no matching data !!!
                </td>
            </tr>
        </table>
        <mat-paginator #paginatorRef [length]="totalPayoutRecords" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
    </main>
</section>