<section class="operational-city-list-wrapper">
    <app-page-title [pageTitle]="'Operational City'"></app-page-title>
    <div class="operational-city-wrapper__tools w-75">
        <div class="row align-items-end">
            <div class="col-6 input-details">
                <label for="search" class="input-heading">Search by city name</label>
                <input type="text" class="input-field" placeholder="Enter city name" name="search"
                    [(ngModel)]="filterOpCityFileds.name" (keyup.enter)="getOperationalCity(true)">
            </div>
            <div class="col-3">
                <button class="buttons buttons--filter w-100"
                    (click)="showFilterFields ? clearFilter('all') : showFilterFields = true">
                    {{showFilterFields ? 'Clear Filters' : 'Add Filters'}}
                    <img src="assets/icons/filter.svg" class="ms-4" alt="add-icon" />
                </button>
            </div>
            <div class="col-3">
                <button class="buttons" (click)="goToMap('Create')">
                    Add Polygon
                    <img src="assets/icons/add.svg" class="ms-4" alt="add-icon">
                </button>
            </div>
        </div>
    </div>
    <div class="row align-items-end mt-4" *ngIf="showFilterFields">
        <div class="input-details col-3">
            <label class="input-heading">City ID</label>
            <input type="text" class="input-field" placeholder="Enter comma separated city id" name="id"
                [(ngModel)]="filterOpCityFileds.id" (keydown.enter)="getOperationalCity(true)">
        </div>
        <div class="col-3 input-details">
            <label class="input-heading">Status</label>
            <ng-select [items]="opCityStatus | keyvalue: originalOrder" bindLabel="value" bindValue="key"
                placeholder="Select Status" [multiple]="true" [closeOnSelect]="false"
                [(ngModel)]="filterOpCityFileds.status" (clear)="clearFilter()"></ng-select>
        </div>
        <div class="col-2 input-details mt-3">
            <label for="name" class="input-heading">Is Deleted?</label>
            <mat-radio-group [(ngModel)]="filterOpCityFileds.isDeleted" class="mt-2">
                <mat-radio-button [value]="true" class="input-heading me-3">Yes</mat-radio-button>
                <mat-radio-button [value]="false" class="input-heading">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-2 mt-3">
            <button class="buttons br-50" (click)="getOperationalCity(true)">Apply Filter</button>
        </div>
    </div>
    <main class="operational-city-list-wrapper__content mt-5">
        <table class="w-100" mat-table [dataSource]="opCityList" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>City ID</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>City Name </th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
            <ng-container matColumnDef="isDeleted">
                <th mat-header-cell *matHeaderCellDef>Is Deleted? </th>
                <td mat-cell *matCellDef="let row">{{row.isDeleted ? 'Yes' : 'No'}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status </th>
                <td mat-cell *matCellDef="let row">
                    <input class="me-3" type="checkbox" [ngClass]="{'active': row.status === 'enable'}" role="switch"
                        name="toggle" (click)="changeStatus(row)">
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th class="cursor-disable" mat-header-cell *matHeaderCellDef>Action </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon matTooltip="View All Polygon" matTooltipClass="custom-tooltip" class="me-3"
                        (click)="goToMap('View All', row)">view_carousel</mat-icon>
                    <mat-icon matTooltip="View Polygon" matTooltipClass="custom-tooltip" class="me-3"
                        (click)="goToMap('View', row)">remove_red_eye</mat-icon>
                    <mat-icon matTooltip="Edit Polygon" matTooltipClass="custom-tooltip" class="me-3"
                        (click)="goToMap('Edit', row)" *ngIf="!row.isDeleted">edit</mat-icon>
                    <mat-icon matTooltip="Delete City" matTooltipClass="custom-tooltip"
                        (click)="deleteOperationalCity(row)" *ngIf="!row.isDeleted">delete</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    There is no matching data !!!
                </td>
            </tr>
        </table>
        <mat-paginator #paginatorRef [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)"></mat-paginator>
    </main>
</section>