<section *ngIf="showMapForPolygon">
    <div class="d-flex align-items-baseline">
        <img src="assets/icons/back-icon.svg" class="me-2 cursor-enabled" width="16" height="18" (click)="closeMapView()">
        <app-page-title [pageTitle]="pageHeading"></app-page-title>
    </div>
    <!-- Polygon Create -->
    <main>
        <div class="row mb-3">
            <div class="input-details col-3" [ngClass]="{'hide-search-input': polygonAction === 'View' || polygonAction === 'View All'}" >
                <label class="input-heading">Search</label>
                <input type="text" class="input-field" placeholder="Search Location" #search>
            </div>
            <form [formGroup]="polygonForm" class="row col-9 align-items-end">
                <div class="input-details col-3">
                    <label for="Area Name" class="input-heading">City Name</label>
                    <input type="text" class="input-field" name="city name" placeholder="Enter Name"
                        formControlName="name">
                    <app-form-error-msg [control]="polygonForm.controls.name"></app-form-error-msg>
                </div>
                <div class="col-3" *ngIf="polygonAction === 'Create' || polygonAction === 'Edit'">
                    <button class="buttons br-50" (click)="submitPolygon()">Save Polygon</button>
                </div>
            </form>
        </div>
        <agm-map [latitude]="lat" [longitude]="long" (mapReady)="onMapReady($event)" [zoom]="zoom">
        </agm-map>
    </main>
</section>

<app-operational-city-list *ngIf="!showMapForPolygon" (showMap)="initialiseMapDetails($event)"></app-operational-city-list>