<section class="orders-wrapper">
    <app-page-title [pageTitle]="pageHeading"></app-page-title>
    <div class="orders-wrapper__tools w-100">
        <div class="row align-items-end w-75">
            <div class="col-6 input-details">
                <label for="search" class="input-heading">Search by order id...</label>
                <input type="text" class="input-field" placeholder="Enter order ID" name="search" [(ngModel)]="filterOrderFields.orderId" (keyup.enter)="getOrders(true)">
            </div>
            <div class="col-3">
                <button class="buttons buttons--filter w-100" (click)="showFilterFields ? clearFilter('all') : showFilterFields = true">
                    {{showFilterFields ? 'Clear Filters' : 'Add Filters'}}
                    <img src="assets/icons/filter.svg" class="ms-4" alt="add-icon" />
                </button>
            </div>
            <div class="col-3">
                <button class="buttons w-100" (click)="exportOrdersInCsv()" *ngIf="ordersList.data.length">Export in csv
                </button>
            </div>
            <div class="col-4 mt-3">
                <button class="buttons w-100" (click)="getOrdersForYesterday()">
                    <img class="me-3" src="../../../../assets/icons/yesterday.svg" alt="" width="40" height="40">
                    Yesterday's Ongoing Order</button>
            </div>
            <div class="col-3">
                <button class="buttons w-100" (click)="getOrdersForCurrentDate()">
                    <img class="me-3" src="../../../../assets/icons/today.svg" alt="" width="40" height="40">
                    Today's Ongoing Order</button>
            </div>
            <div class="col-3" *ngIf="showAllButton">
                <button class="buttons w-100" (click)="clearFilter('all')">
                    <img class="me-3" src="../../../../assets/icons/all.svg" alt="" width="40" height="40">
                    All Order</button>
            </div>      
        </div>
        <div class="row align-items-end mt-4" *ngIf="showFilterFields">
            <div class="col-3 input-details" *ngIf="service !== Services.PND">
                <label for="id" class="input-heading">Outlet ID</label>
                <input type="text" class="input-field" placeholder="Enter outlet ID" name="outletId" [(ngModel)]="filterOrderFields.outletId" (keydown.enter)="getOrders(true)">
            </div>
            <div class="col-3 input-details mt-3" *ngIf="kind !== 'customer-orders'">
                <label class="input-heading">Customer Phone</label>
                <input type="text" class="input-field" placeholder="Enter phone" name="customerPhone" [(ngModel)]="filterOrderFields.customerPhone" (keydown.enter)="getOrders(true)">
            </div>
            <div class="col-3 input-details mt-3" *ngIf="kind !== 'customer-orders'">
                <label class="input-heading">Customer Email</label>
                <input type="text" class="input-field" placeholder="Enter email" name="customerEmail" [(ngModel)]="filterOrderFields.customerEmail" (keydown.enter)="getOrders(true)">
            </div>
            <div class="col-3 input-details mt-3">
                <label class="input-heading">Payment ID</label>
                <input type="text" class="input-field" placeholder="Enter payment ID" name="paymentId" [(ngModel)]="filterOrderFields.paymentId" (keydown.enter)="getOrders(true)">
            </div>
           
                <div class="col-3 input-details mt-3" *ngIf="service !== Services.PND">
                    <label class="input-heading">Payout ID</label>
                    <input type="text" class="input-field" placeholder="Enter payout ID" name="payoutId" [(ngModel)]="filterOrderFields.payoutId" (keydown.enter)="getOrders(true)" [disabled]="['cancellation', 'refund'].includes(kind)">
                </div>
                <div class="col-3 input-details mt-3" *ngIf="service !== Services.PND">
                    <label class="input-heading">Vendor Order Acceptance Status</label>
                    <ng-select [items]="orderAcceptanceStatusesList | keyvalue: originalOrder" bindLabel="value" bindValue="key" [multiple]="true" [closeOnSelect]="false" placeholder="Select Status" [(ngModel)]="filterOrderFields.orderAcceptanceStatus" (clear)="clearFilter()"></ng-select>
                </div>
                <div class="col-3 input-details mt-3">
                    <label class="input-heading">Delivery Status</label>
                    <ng-select [items]="deliveryStatusesList | keyvalue: originalOrder" bindLabel="value" bindValue="key" [multiple]="true" [closeOnSelect]="false" placeholder="Select Status" [(ngModel)]="filterOrderFields.deliveryStatus" (clear)="clearFilter()">
                    </ng-select>
                </div>
                <div class="col-3 input-details mt-3">
                    <label class="input-heading">Order Status</label>
                    <ng-select [items]="orderStatusesList | keyvalue: originalOrder" bindLabel="value" bindValue="key" [multiple]="true" [closeOnSelect]="false" placeholder="Select Status" [(ngModel)]="filterOrderFields.orderStatus" (clear)="clearFilter()" [disabled]="['cancellation', 'refund'].includes(kind)"></ng-select>
                </div>
                <div class="col-2 input-details" *ngIf="service === Services.Food">
                    <label for="type" class="input-heading">Outlet Type</label>
                    <ng-select [items]="typeList" bindLabel="name" bindValue="id" placeholder="Select type" [(ngModel)]="filterOrderFields.outletType" (clear)="clearFilter()"></ng-select>
                </div>
                <div class="col-3 input-details mt-3" *ngIf="service === Services.Food">
                    <label class="input-heading">Client Service Type</label>
                    <ng-select [items]="clientServiceTypeList | keyvalue: originalOrder" bindLabel="value" bindValue="key" [multiple]="true" [closeOnSelect]="false" placeholder="Select Type" [(ngModel)]="filterOrderFields.clientServiceType" (clear)="clearFilter()">
                    </ng-select>
                </div>
                <div class="col-3 input-details mt-3">
                    <label class="input-heading">Refund Status</label>
                    <ng-select [items]="refundStatusesList | keyvalue: originalOrder" bindLabel="value" bindValue="key" [multiple]="true" [closeOnSelect]="false" placeholder="Select Status" [(ngModel)]="filterOrderFields.refundStatus" (clear)="clearFilter()" [disabled]="['cancellation', 'refund'].includes(kind)"></ng-select>
                </div>

                <div class="input-details col-3 mt-3">
                    <label class="input-heading">Start Date</label>
                    <mat-form-field class="custom-mat-form-field" appearance="outline">
                        <input matInput (click)="startDate.open()" [matDatepicker]="startDate" [max]="maxDate" [(ngModel)]="filterOrderFields.startDate" name="startDate" placeholder="Select date">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <button mat-icon-button matSuffix *ngIf="filterOrderFields.startDate" (click)="clearFilter('date')">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="input-details col-3 mt-3">
                    <label class="input-heading">Start Time</label>
                    <mat-form-field class="custom-mat-form-field" appearance="outline">
                        <input matInput type="time" name="startTime" [(ngModel)]="filterOrderFields.startTime" placeholder="Select Time">
                        <button mat-icon-button matSuffix *ngIf="filterOrderFields.startTime" (click)="clearFilter('startTime')">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="input-details col-3 mt-3">
                    <label class="input-heading">End Date</label>
                    <mat-form-field class="custom-mat-form-field" appearance="outline">
                        <input matInput (click)="endDate.open()" [matDatepicker]="endDate" [max]="maxDate" [(ngModel)]="filterOrderFields.endDate"  name="endDate" placeholder="Select date">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <button mat-icon-button matSuffix *ngIf="filterOrderFields.endDate" (click)="clearFilter('date')">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="input-details col-3 mt-3">
                    <label class="input-heading">End Time</label>
                    <mat-form-field class="custom-mat-form-field" appearance="outline">
                        <input matInput type="time" name="endTime" [(ngModel)]="filterOrderFields.endTime" placeholder="Select Time">
                        <button mat-icon-button matSuffix *ngIf="filterOrderFields.endTime" (click)="clearFilter('endTime')">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-3 mt-4 ms-2">
                    <button class="buttons br-50" (click)="getOrders(true)">Apply Filter</button>
                </div>
        </div>
    </div>
    <main class="orders-wrapper__content mt-5">
        <table class="w-100" mat-table [dataSource]="ordersList" matSort multiTemplateDataRows>
            <ng-container matColumnDef="orderId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
                <td mat-cell *matCellDef="let row" class="text-decoration-underline cursor-enabled">
                    <span class="d-flex gap-3 align-items-center">
                        <strong (click)="goToOneViewWebsite(row.orderId)" matTooltip="open in order details dashboard" matTooltipClass="custom-tooltip"
                            title="Go To One View Dashboard">{{row.orderId}}</strong>
                        <img class="cursor-enabled" title="Copy" src="assets/icons/copy-icon.svg" height="15" width="15"
                            [appCopyToClipboard]="row.orderId">
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="outletName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Outlet Details </th>
                <td mat-cell *matCellDef="let row">
                    <strong class="cursor-enabled text-decoration-underline" (click)="navigateToOutletDetailsInNewWindow(row.outletId, row.outletName)" title = "See Outlet Details">
                        {{row.outletName}}</strong>
                    <span class="d-flex align-items-center gap-3">
                        <p class="m-0 singleline-ellipsis">{{row.outletId}}</p>
                        <img class="cursor-enabled" title="Copy" src="assets/icons/copy-icon.svg" height="15" width="15"
                            [appCopyToClipboard]="row.outletId">
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="outletType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Outlet Type </th>
                <td mat-cell *matCellDef="let row"> {{row.outletType}} </td>
            </ng-container>
            <ng-container matColumnDef="clientServiceType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Service Type </th>
                <td mat-cell *matCellDef="let row"> {{row.clientServiceType}} </td>
            </ng-container>
            <ng-container matColumnDef="orderStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Status</th>
                <td mat-cell *matCellDef="let row">
                    <div class="d-flex align-items-center">
                        <img class="me-3" src='{{"assets/icons/" + row.orderStatus + "-order-status.svg"}}' alt="{{ row.orderStatus }}" matTooltip="{{ row.orderStatus }}" matTooltipClass="custom-tooltip" width="20" height="20">
                        <!-- <span>{{ row.orderStatus }}</span> -->
                    </div>
                </td>
            </ng-container>
            
              <ng-container matColumnDef="customerDetails">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Details</th>
                <td mat-cell *matCellDef="let row">
                    <span> 
                        <strong class="cursor-enabled text-decoration-underline" (click)="getCustomerOrdersByName(row.customerDetails.name, row.customerDetails.phone)" matTooltip="View all orders" matTooltipClass="custom-tooltip">
                        {{row.customerDetails.name}} </strong>
                    </span>
                    <p class="m-0">
                        <span class="d-flex gap-3 align-items-center">
                            <strong class="singleline-ellipsis">{{row.customerDetails.id ? row.customerDetails.id : ''}}</strong>
                            <img class="cursor-enabled" src="assets/icons/copy-icon.svg" width="15" height="15" alt=""
                                [appCopyToClipboard]="row.customerDetails.id">
                        </span>
                    </p>
                </td>
            </ng-container>
              
            <ng-container matColumnDef="placedAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Placed At</th>
                <td mat-cell *matCellDef="let row">{{row.orderPlacedTime ? (row.orderPlacedTime | date: 'dd/MM/YYYY hh:mm:ss a') : 'N/A'}} </td>
            </ng-container>
            <ng-container matColumnDef="orderAcceptanceStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor Acceptance Status </th>
                <td mat-cell *matCellDef="let row"> {{row.orderAcceptanceStatus}} </td>
            </ng-container>
            <ng-container matColumnDef="cancelledBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cancelled By </th>
                <td mat-cell *matCellDef="let row"> {{row.cancelledBy? row.cancelledBy : 'N/A'}} </td>
            </ng-container>
            <ng-container matColumnDef="deliveryStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Status </th>
                <td mat-cell *matCellDef="let row"> {{row.deliveryStatus}} </td>
            </ng-container>
            <ng-container matColumnDef="preparationTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prep Time (In mins) </th>
                <td mat-cell *matCellDef="let row"> {{row.preparationTime? row.preparationTime : 'N/A'}} </td>
            </ng-container>
            <ng-container matColumnDef="totalOrderDuration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Taken (in mins)</th>
                <td mat-cell *matCellDef="let row">
                    <span matTooltip="{{row.totalOrderDuration}} mins" matTooltipClass="custom-tooltip">
                        <img src="assets/icons/30-less.svg" height="30" width="30" *ngIf="row.totalOrderDuration < 30">
                        <img src="assets/icons/30-45.svg" height="30" width="30" *ngIf="row.totalOrderDuration >= 30 && row.totalOrderDuration < 45">
                        <img src="assets/icons/45-60.svg" height="30" width="30" *ngIf="row.totalOrderDuration >= 45 && row.totalOrderDuration < 60">
                        <img src="assets/icons/60-up.svg" height="30" width="30" *ngIf="row.totalOrderDuration >= 60">
                    </span>
                    <span *ngIf="row.totalOrderDuration === undefined">N/A</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="totalBill">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Amount </th>
                <td mat-cell *matCellDef="let row"> {{row.invoiceDetails.totalCustomerPayable}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th class="cursor-disable" mat-header-cell *matHeaderCellDef>Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="toggleTableRow(row.orderId)">
                        <mat-icon>{{row.orderId === expandedRow ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td *matCellDef="let row" [attr.colspan]="displayedColumns.length">
                    <app-order-details class="expanded-row-details" [ngClass]="row.orderId === expandedRow ? 'expanded' : 'collapsed'" [orderDetails]="row" [action]="action" (takeAction)="takeAction($event)">
                    </app-order-details>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    There is no matching data !!!
                </td>
            </tr>
        </table>
        <mat-paginator #paginatorRef showFirstLastButtons [length]="totalOrders" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
    </main>
</section>